h1{
    text-align: center;
    font-size: 55px;
}
h2{
    text-align: left;
    font-family: fonte;
}
body{
    background-color:rgb(137, 63, 34)
}
p{
    text-align: center;
    font-size: 40px;
}
nav{
    text-align: center;
}
h3{
    text-align: center;
    font-size: 30px;
}


